@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: #0b0c0e;
  --fg: #e6e6e6;
  --muted: #b3b3b3;
  --accent: #00ff66;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
  line-height: 1.2;
  font-family: "Ubuntu", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.screen-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ff6b6b;
  font-size: 14px;
  padding: 20px;
  z-index: 9999;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.warning-content {
  max-width: 90%;
  line-height: 1.4;
}
.warning-title {
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 16px;
}
.warning-text {
  color: #f0f0f0;
  margin: 0.3rem 0;
  font-size: 14px;
}
.warning-command {
  color: #50fa7b;
  font-weight: bold;
}
@media (max-width: 299px) {
  .container {
    display: none;
  }
  .screen-warning {
    display: flex;
  }
}

.container {
  max-width: 800px;
  padding: 64px 32px 96px 32px;
  margin: 0 auto;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 36px;
  margin-bottom: 8px;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--muted);
  margin-top: 0;
  margin-bottom: 32px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 1.4;
  text-align: justify;
}
.quote {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .quote {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}

.copyright {
  font-family: monospace;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--muted);
  letter-spacing: 0.5px;
  font-weight: 500;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 600px) and (min-width: 430px) {
  .copyright {
    font-size: 11px;
    gap: 6px;
  }
}
@media (max-width: 429px) {
  .copyright {
    font-size: 10px;
    flex-direction: column;
    gap: 3px;
  }
}
